.img{
    background: url("background-image.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.7;
    filter: blur(2px);
}

.form{
    margin-top: 70;
    margin-left: 350;
    width: 500px;
    padding-left: 150px;
    height: 350px;
    background: #294cf680;
    padding-top: 10px
}

h2{
    font-size: 40;
    color: lightgoldenrodyellow;
}

#uisqft{
    padding-left: 0px;
    margin-left: 32px;
    width: 256px;
    height: 50px;
    border-top-width: 3px;
    font-size: 30;
    border-radius: 20px;
}

.bhk{
    padding-left: 90px;

}

#uiBHK{
    height: 30px;
    padding-left: 41px;
    transform: scale(2.2);
    margin-left: 145px;
    padding-left: 0px;
    margin-top: 10px;
    color: white;
    font-weight: 900;
}

select{
    margin-left: 413px;
    height: 40px;
    boder-color: white;
    border-radius: 20px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    background: #294cf680;
    color: white;
}

select: hover{
    background-color: black;
    color: white;
}

button{
    margin-top: 15px;
    margin-left: 535px;
    width: 240px;
    height: 42px;
    font-size: 20px;
    border-radius: 10px;
    background: red;
    color: white;
    border-color: white;
    border-top:-11px;
}
button:hover{
    background: white;
    color: red;
}

#uiEstimatedPrice h2{
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: crimson;
    border-top-width: 10px;
    border-color: black;
    width: 320px;
    border-radius: 5px;
    text-align: center;
}
